.wrapper_forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}
.wrapper_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #F08EB0;
    margin-bottom: 15px
}
.forgot_image{
    width: 50px;
    height: 50px;
    margin: 10px 15px;
}
.forgot_tittle_txt{
    font: 900 30px Roboto;
    margin: 15px auto 30px;
}
.forgot_descr{
    font: 900 25px Roboto;
    margin: 10px auto 20px;
}
.forgot_form{
    width: 100%;
}
.forgot_email{
    width: 100%;
    padding: 10px;
    color: #ccc;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #535353;
}
.status_email{
    color:rgba(255, 0, 0, 0.665)
}
.send_email_btn{
    margin: 15px 0 25px;
    width: 100%;
    padding: 12px;
    border: 0px solid;
    border-radius: 8px;
    background: #8FC9F9;
    color: black;
    font: 900 14px Roboto;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        color: black;
        background: #F08EB0;
    }
}